<!doctype html>
<title>Hello from Flask</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% elif bye_name %}
  <h1>Goodbye {{ bye_name }}!</h1>
{% elif time_name %}
  <h1>Goodbye {{ time_name }}! Have a good {{ time }}!</h1>
{% else %}
  <h1>Hello World!</h1>
{% endif %}

<div id="contact-form">
  <h1>Get In Touch!</h1>
  <form method="post" action="/signup">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" value="" placeholder="Andreas Savvides" required= "
    required" autofocus="autofocus" />
    <label for="email">Email Address: </label>
    <input type="email" id="email" name="email" value="" placeholder="andreas@ditd.com" required="
    required" />
    <label for="age">Age: </label>
    <input type="age" id="age" name="age" value="" placeholder="18" required="
    required" />
    <input type="submit" value="Submit" id="submit-button" />
  </form>
</div>
