<!DOCTYPE html>
<html lang="en">
    <head>
        <title>out of halls</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="jquery-3.1.1.min.js"></script>
        <script src="bootstrap-3.3.7/js/bootstrap.js"></script>
        <link rel='stylesheet' href="{{ url_for('.static',filename='styles/bootstrap-3.3.7-dist/css/bootstrap.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sorina-tunrayo.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    </head>
<body>
    <div class="jumbotron">
        <h1 class="text-center">out of halls</h1>
    </div>

    <!--iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2469.7396481381215!2d-1.2612289842974465!3d51.75608417967676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876c6a8bd54cf35%3A0xa4333b511cb7faac!2sSt+John&#39;s+College!5e0!3m2!1sen!2suk!4v1480611389451" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe-->

    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBW-QW2EDbPoskeJpmckqyaM8EUjcmSM-o
    &q=Jericho,+Oxford" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>


<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--a class="navbar-brand" href="#">out of halls</a-->
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav nav-justified">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#movement">The movement</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Places<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#restaurants">Restaurants</a></li>
                    <li><a href="#cafes">Cafes</a></li>
                    <li><a href="#bars">Bars</a></li>
                    <li><a href="#unclassified">Unclassified</a></li>
                </ul>
            </li>
          </ul>
        </div>
    </div>
</nav>

<div class="container-main">
<div class="row-main">
    <div class="col-sm-8 blog-main">
        <p class="lead blog-description text-center">Welcome to our not so complete guide of local hangouts for the self-proclaimed cool kid in Oxford. We have created a list of restaurants, cafes, bars and miscellaneous others for when you need to escape from reality or simply want to dazzle your friends with your knowledge of the chiccest places to be.<p>

        <div id="movement" class="blog-post-title">
            <h2>The movement</h2>
            <p>Our aim is to mobilise an army of super cool kids to support local businesses and break the obstinate division of "town and gown".</p>

            <p><strong>Tunrayo</strong>: As a new member of the Oxford graduate community, I, like so many others have also been overwhelmed by the huge number of activities that the colleges and the Universities provide. Futhermore, my department is exactly 5 minutes from my bed and my college, well...It is so easy to be trapped in the very circle that inevitably forms and thus never see anything beyond its radius. </p>
            <p><strong>Trina</strong>: I love food so much I spent a term as the Cherwell's Food and Drink editor, but I am far too lazy to cook.  So after almost four years here I've found one or two great places I'd like to share with everyone.</p>
            <p><strong>Fran</strong>: I also love food and, having been here nearly 3 years, I know some info about places to eat in Oxford.</p>

            <p><strong>We say, who said you can't have "town <em>and</em> gown"?</strong></p>
        </div>

        <h2 class="blog-post-title">Places</h2>
        <p>Okay, yes, you're a bit north of the heart of Oxford - but you are near Jericho, where all the best places are.  Just not the tourists.  If you haven't found some favourite places already, try ours!</p>

        <div id="restaurants">
        <h2 class="blog-post-title">Restaurants</h2>
            <div class="row">
                <div class="col-lg-6 polaroid">
                    <p><strong>Peppers Burgers:</strong><br>A psychadelic greasehole, perfect for hangovers.
                    </p>
                    <a href="http://www.dailyinfo.co.uk/places/food-and-drink/restaurants/burger-joints/t209-p248/peppers-burgers" class="post-box">
                    <figure>
                        <img src="/static/images2/peppers-burgers.jpg" class="img-responsive img-thumbnail" alt="Responsive image" width="550" height="413">
                    </figure>
                </a>
                </div>
                <div class="col-lg-6 polaroid">
                <p><strong>Zheng:</strong><br>Chic Chinese that won't make you sweat grease.
                    </p>
                <a href="http://www.zhengoxford.co.uk/" class="post-box">
                    <figure>
                        <img src="/static/images2/zheng.jpg" class="img-responsive img-thumbnail" alt="Responsive image" width="550" height="413">
                    </figure>
                </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 polaroid">
                 <p><strong>Moshi:</strong><br>Fantastic dumplings, fast service.
                    </p>
                <a href="https://deliveroo.co.uk/menu/oxford/jericho/moshi" class="post-box">
                    <figure>
                        <img src="/static/images2/moshi.jpg" class="img-responsive img-thumbnail" alt="Responsive image" width="550" height="413">
                    </figure>
                </a>
                </div>
                <div class="col-lg-6 polaroid">
                  <p><strong>The Rickety Press:</strong><br>Pizzas, pints and available tables.
                      </p>
                  <a href="http://www.thericketypress.com" class="post-box">
                      <figure>
                          <img src="/static/images2/rickety-press.jpg" class="img-responsive img-thumbnail" alt="Responsive image" width="550" height="413">
                      </figure>
                  </a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module text-center">
                <h4 class="blog-post-title">Anywhere we've missed?</h4>

                <div id="contact-form">
                  <h1>Get In Touch!</h1>
                  <form method="post" action="/signup">
                  <label for="name">Name: </label>
                  <input type="text" id="name" name="name" value="" placeholder="Name" required= "
                  required" />
                  <label for="email">Email Address: </label>
                  <input type="email" id="email" name="email" value="" placeholder="Email Address" required="
                  required" />
                  <label for="fave_spot">Fave spot: </label>
                  <input type="text" id="fave_spot" name="fave_spot" value="" placeholder="e.g. Home. I love home!" />
                  <input type="submit" value="Submit" id="submit-button" />
                  </form>
                </div>
</div>
</div>

    <footer class="blog-footer">
            <p class="social-icon">
                <a href="https://www.snapchat.com"><i title="Snapchat" class="fa fa-3x fa-snapchat" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com"><i title="Instagram" class="fa fa-3x fa-instagram" aria-hidden="true"></i> </a>
                <a href="https://www.facebook.com"><i title="Facebook" class="fa fa-3x fa-facebook-square" aria-hidden="true"></i> </a>
                <a href="https://www.twitter.com"><i title="Twitter" class="fa fa-3x fa-twitter" aria-hidden="true"></i> </a>
                <a href="https://www.pinterest.com"><i title="Pinterest" class="fa fa-3x fa-pinterest" aria-hidden="true"></i> </a>
            </p>
            <a href="#">Back to top</a>
            <p class="text-muted text-center">Sorina and Tunrayo © 2016</p>
    </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--<script>window.jQuery || document.write('<script src="https://sorina-tunrayo.github.io/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://sorina-tunrayo.github.io/dist/js/bootstrap.min.js"></script>
<script src="https://sorina-tunrayo.github.io/assets/js/ie10-viewport-bug-workaround.js"></script>-->
<iframe scrolling="no" style="background-color: transparent; border: 0px; display: none;"></iframe>

</body>
</html>
